extends /_templates/html.pug

block body

    include /_templates/navigation.pug

    .sisu.w3-container#artikkel
        //- img(src='/images/bg/avapilt.jpg' style='width:100%' visibility='hidden' )
        h1= self.title
        each paragraph in self.texts
            p= paragraph

        .w3-row
            each intervjuu in self.data.intervjuud
                .w3-third.interview
                    .bottom-overlay
                        .title= intervjuu.title
                        //- .description= intervjuu.description
                    iframe.videothumb(src='https://player.vimeo.com/video/' + intervjuu.id + '?h=c330182d7b&color=3fbebc&title=0&byline=0', frameborder='0', allow='autoplay; fullscreen; picture-in-picture', allowfullscreen='')
                    //- a(href='https://vimeo.com/' + intervjuu.id)= intervjuu.title



//- <p><a href="https://vimeo.com/658946623">Paul Laan INTERVJUU</a> from <a href="https://vimeo.com/eestimaluinstituut">Eesti M&auml;lu Instituut</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
//- <p></p>