#agenda
    .laine
        margin 1em 0 0 0
        background url(/images/WWII_refugees_visuals_LAINE_1.svg),
            linear-gradient(var(--wwii-valge),var(--wwii-jalus))
        background-repeat repeat-x,
            no-repeat
        background-position bottom
        background-blend-mode multiply
        background-size: 12em, 100%;
        width 100%
        color var(--wwii-valge)