#p2is
    background \
        url(/WWII-refugees/images/bg/avapilt.jpg),
        linear-gradient(var(--wwii-taust2), var(--wwii-valge)),
        url(/WWII-refugees/images/WWII_refugees_visuals_LAINE_1.svg)
    background-size \
        contain, 
        auto,
        200px
    background-repeat \
        no-repeat,
        no-repeat,
        repeat-x
    background-position \
        top center, 
        top center, 
        bottom
    // background-attachment fixed
    background-blend-mode \
        multiply
        
#andmebaas
    .l4
        width 60%
    #searchform
        margin-top 2em
        button
            background-color var(--wwii-taust3)
            cursor pointer
        button:hover
            background-color var(--wwii-taust2)

    background \
        url(/WWII-refugees/images/bg/andmebaas.jpg),
        linear-gradient(var(--wwii-taust2), var(--wwii-valge))
    background-size \
        40%, 
        auto
    background-repeat \
        no-repeat,
        no-repeat
    background-position \
        top right, 
        top center
    // background-attachment fixed
    background-blend-mode \
        multiply

.readmore
    float none
//     background-color: var(--wwii-valge)
.readmore:hover
    background-color: var(--wwii-taust2)!important