#p2is
    background url(/images/bg/avapilt.jpg), linear-gradient(var(--wwii-valge), var(--wwii-taust2)) 
    background-size contain, auto
    background-repeat no-repeat
    background-position top center, top center
    background-attachment fixed
    background-blend-mode multiply