html
body
    // height 100%

body
    font-family 'Montserrat', sans-serif
    font-style normal
    font-weight 400
    max-width 1050px
    align-content center
    margin auto

#p2is
    aspect-ratio: 1.98
    // height -webkit-fill-available

#page
    min-height 100%

#logo
#logo img
    width 100%
    max-width 200px
    margin-bottom -9em
#logo.scrolled>img
    max-width 150px
    margin-bottom -6em
    vertical-align top


#navigation
    position -webkit-sticky /* Safari */
    position sticky
    top 0
    background inherit
    padding 0 4em
    margin -2em 0
#navigation.scrolled
    background-color var(--wwii-valge)
    box-shadow var(--wwii-jalus) 0 0 0.5em
    padding 0 4em 0m 1em
    z-index 1


.wwii-nav
    font-weight 600
    // height 6em
    // width -webkit-fill-available

.sisu
body>div
    padding 0 6em
    margin 2em 0
h1
    margin-top 2em
    margin-bottom 0.5em
    font-weight 700
h2
    margin-top 2em
    font-weight 600
h4
    margin-bottom 1em
    font-weight 300

#laine
    padding 0em 0 1em 0
    margin 1em 0 0 0

    background \
        url(/images/WWII_refugees_visuals_LAINE_1.svg),
        linear-gradient(var(--wwii-valge), var(--wwii-jalus))

    background-repeat repeat-x, no-repeat
    background-position top
    background-blend-mode multiply
    height: 40px
    width: 100%
    // background-attachment fixed

#footer
    padding 2em 0 2em 0
    margin 0
    background-color var(--wwii-jalus)
    color var(--wwii-taust2)
    font-size 0.8em
    line-height: 1em
    #logowhite
        max-width 180px
        padding-left 1em
        margin 0


