html
body
    height 100%

body
    font-family 'Montserrat', sans-serif
    font-style normal
    font-weight 400

#logo
#logo img
    width 100%
    max-width 300px

#navigation
    position -webkit-sticky /* Safari */
    position sticky
    top 0
    background inherit

.wwii-nav
    position absolute
    width -webkit-fill-available
    bottom 0
