html
body
    height 100%

body
    font-family 'Montserrat', sans-serif
    font-style normal
    font-weight 400
    max-width 1050px
    align-content center
    margin auto

#p2is
    aspect-ratio: 1.98
    // height -webkit-fill-available

#page
    min-height 100%

#logo
#logo img
    width 100%
    max-width 200px
    margin-bottom -9em

#navigation
    position -webkit-sticky /* Safari */
    position sticky
    top 0
    background inherit
    padding 0 4em

.wwii-nav
    font-weight 600
    // height 6em
    // width -webkit-fill-available

.sisu
body>div
    padding 0 6em

h1
    margin-top 2em
    font-weight 700
h4
    margin-bottom 1em
    font-weight 300
