:root
  --wwii-valge    #faf9f7
  --wwii-taust2   #C7DBE1
  --wwii-taust3   #89a3b4
  --wwii-jalus    #324966
  --wwii-aktiivne #4c6682
  --wwii-tekst    #324966

.wwii-valge
.wwii-valge-hover:hover
    color var(--wwii-tekst)
    background-color var(--wwii-valge)

.wwii-taust2
.wwii-taust2-hover:hover
    color var(--wwii-tekst)
    background-color var(--wwii-taust2)

.wwii-taust3
.wwii-taust3-hover:hover
    color var(--wwii-tekst)
    background-color var(--wwii-taust3)

.wwii-jalus
.wwii-jalus-hover:hover
    color var(--wwii-valge)
    background-color var(--wwii-jalus)

.wwii-aktiivne
.wwii-aktiivne-hover:hover
    color var(--wwii-taust2)
    background-color var(--wwii-aktiivne)

.wwii-tume
.wwii-tume-hover:hover
    color var(--wwii-hesi)
    background-color var(--wwii-tume)

.wwii-opacity
    color var(--wwii-tume)
    background-color var(--wwii-valge)

//
// Menüü
//
.wwii-valitud
    color var(--wwii-taust3)
.wwii-valimata
    color var(--wwii-aktiivne)
.wwii-valimata:hover
.wwii-valitud:hover
    background-color var(--wwii-taust2)