wwii-valge = rgb(250, 249, 247)
wwii-hele  = rgb(213, 231, 229)
wwii-hesi  = rgb(164, 195, 203)
wwii-sini  = rgb(120, 148, 167)
wwii-tusi  = rgb(76, 102, 130)
wwii-tume  = rgb(50, 73, 102)

.wwii-valge
.wwii-valge-hover:hover
    color wwii-tume
    background-color wwii-valge

.wwii-hele
.wwii-hele-hover:hover
    color wwii-tume
    background-color wwii-hele

.wwii-hesi
.wwii-hesi-hover:hover
    color wwii-tume
    background-color wwii-hesi

.wwii-sini
.wwii-sini-hover:hover
    color wwii-valge
    background-color wwii-sini

.wwii-tusi
.wwii-tusi-hover:hover
    color wwii-hele
    background-color wwii-tusi

.wwii-tume
.wwii-tume-hover:hover
    color wwii-hesi
    background-color wwii-tume