wwii-valge    = #faf9f7
wwii-taust2   = #C7DBE1
wwii-taust3   = #89a3b4
wwii-jalus    = #324966
wwii-aktiivne = #4c6682
wwii-tekst    = #324966

.wwii-valge
.wwii-valge-hover:hover
    color wwii-tekst
    background-color wwii-valge

.wwii-taust2
.wwii-taust2-hover:hover
    color wwii-tekst
    background-color wwii-taust2

.wwii-taust3
.wwii-taust3-hover:hover
    color wwii-tekst
    background-color wwii-taust3

.wwii-jalus
.wwii-jalus-hover:hover
    color wwii-valge
    background-color wwii-jalus

.wwii-aktiivne
.wwii-aktiivne-hover:hover
    color wwii-taust2
    background-color wwii-aktiivne

.wwii-tume
.wwii-tume-hover:hover
    color wwii-hesi
    background-color wwii-tume

.wwii-opacity
    color wwii-tume
    background-color wwii-valge
