#searchform
    input
        border-top-right-radius 0em
        border-bottom-right-radius 0em
    button, .button
        border-radius 0em
        text-align center
    #searchButton
        border-top-right-radius 0.5em
    #newPersonLink
        border-bottom-left-radius 0.5em
        border-bottom-right-radius 0.5em
        border-top 1px solid var(--wwii-taust2)

button, .button
    background-color var(--wwii-taust3)
    cursor pointer
    border none

button:hover
    background-color var(--wwii-taust2)
#tulemused
    margin-top 2em

#search-results
    margin-bottom 1em
    // linear-gradient(hsla(0, 0%, 0%, 0), var(--wwii-tekst-transparent))

.search-result
    background-color var(--wwii-taust2)
    border-top-left-radius 0.5em
    border-top-right-radius 0.5em
    .search-result-name
        font-size 1.5em
        font-weight bold
        margin 0.25em 0em 0em 0em
        padding 0.5em
        text-decoration none
        border-top 0.25em solid var(--wwii-aktiivne)
    .search-result-main
        padding-left 0.5em
        background-color var(--wwii-taust2)
        text-decoration none
    .search-result-info
        padding-left 0.5em
        background-color var(--wwii-valge)
        text-decoration none
    p
        margin 0em
        padding 0em 0em 0em 1em
        padding-block-start 0.25em 
        font-size 1em
        font-weight 300
        line-height 1.5em
        background-color var(--wwii-taust2)
    button
        border-radius 0.5em
        border-bottom-right-radius 0em
    .record-label
        font-weight bolder
        margin-top -0.5em
        margin-bottom -0.5em
    .record-link
        padding-left 1.5em
        background left no-repeat
        background-image url(//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/link_baseline_nv700_20dp.png)
    #result-records
        margin-left 0.5em
    .result-record
        margin-left 0.1em
        margin-top 1em
        margin-bottom 1em
        padding-left 0.5em
        border-left 1px solid var(--wwii-taust2)
    .family-member
        .code
            padding-right 1em
            font-weight 600
    .search-result-plaque
        margin-top 1em
        margin-bottom 1e
        padding-left 0.5em
        margin-left -0.75em
        border-left 0.5em solid var(--wwii-aktiivne)

